*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    /* font-size: 62.5%; */
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

button{
    cursor: pointer;
}

a{
    text-decoration: none;
    color:white;
}
/* Header start */
.headi{
    background: #3D405B;
    min-height: 20vh;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-box h2{
    font-family: 'Contrail One', cursive;   
}

.box{
    padding:0.8rem 1.3rem 0.8rem 1.3rem;
    margin: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: white 3px solid;
}

#f-logo{
    font-size: 3rem;
    font-weight: lighter;
    color: white;
    display: flex;
    line-height: 45px;
}

#f-logo:after{
    font-family:'Oswald', sans-serif;
    content: '.';
    color:#E07A5F;
}

ul{
    display:flex;
    list-style: none;    
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-height:10vh;
}

ul a:hover{
    color: #E07A5F;
    transition: ease 0.5s all;
}

ul a{
    padding:0.5rem;
}

ul li{
    margin: 1.5rem;
}
/* Header end */
/*Intro Start*/
.cover{
    min-height:80vh;
    background:red;
    background: linear-gradient(rgba(0,0,0,0.5), transparent) , url(./Images/pexels-photo-934069.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
}

.intro-box{
    position: absolute;
    left: 5%;
}
/*Intro End*/
/*About Start*/
.cards{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.card{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    margin:1rem;
}

.card-img img{
    max-width:70%;
    margin:0.5rem;
}

.card-img{
    width:30%;
}

.card-desc {
    display: flex;
    flex-direction: column;
}


/* About End */
/* Catalouge Start */

/* Catatlouge End */